* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Oswald", sans-serif;
}

/* inicio */
.logo {
  width: 9rem;
  height: 9rem;
}

/* barra de navegacion */

.contenedorUl {
  background-color: #12a19a;
  margin: auto;
  display: flex;
  flex-flow: wrap;
}

/* clase navegador */

.navegador {
  list-style: none;
  font-size: 24px;
  text-align: center;
  margin: left 10px;
}
/* aplico flexbox a ul */

ul {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-evenly;
}

/* Saco puntos a los ancore */

a {
  text-decoration: none;
}

/* parrafo texto */
p {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}
.navegador {
  font-weight: bold;
  font-size: 20px;
}
/* class parrafo */
.nombreParrafo {
  color: cadetblue;
  font-weight: bold;
  font-size: 16px;
}

/* centro imagen aplicando solo css */
.imgContenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgba(31, 187, 148, 0.178);
}

h5 {
  text-align: justify;
}

.redesSociales {
  text-decoration: none;
  justify-content: space-between;
  list-style: none;
}
footer ul li {
  font-size: 1rem;
  padding: 1% 5%;
}

footer ul li a {
  color: white;
}
footer ul li a:hover {
  color: black;
}

footer ul {
  background-color: #12a19a;
}
ul .redesSociales {
  font-size: 24px;
  text-align: center;
  margin: left 10px;
}

.redesContainer {
  width: 97%;
  height: 10%;
}

/*quienessomos html*/
